# .NET Core
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
Thumbs.db

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Windows Installer files
*.log

# VS Code directories
.vscode/

# Rider
.idea/

# User-specific files
.vs2019/
.vs2017/

# .NET Core SDK and Runtime
*.dotnet/